<ion-app>
  <ion-header></ion-header>

  <ion-content [fullscreen]="true">
    <!-- Video de fondo -->
    <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
      <source src="../assets/Videos/video3.mp4" type="video/mp4">
    </video>

    <!-- Contenedor principal -->
    <div class="main-container">
      <div class="camera-rectangle">
        <!-- Contenido de la cámara aquí -->
        <video #cameraFeed id="camera-feed" width="100%" height="100%" autoplay></video>
      </div>

      <div class="button-container">
        <ion-button expand="block" class="button-registrar" (click)="registrar()">REGISTRAR</ion-button>
        <ion-item class="button-labs">
          <ion-label>Seleccionar Laboratorio</ion-label>
          <ion-select (ionChange)="seleccionarLab($event.detail.value)">
            <ion-select-option value="lab902">LAB902</ion-select-option>
            <ion-select-option value="lab903">LAB903</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" class="infer-button" (click)="captureAndInfer()">Inferir</ion-button>
      </div>
    </div>
    <div class="button-container">
      <ion-label class="panel-label">LISTA DE CLIPS SOSPECHOSOS</ion-label>
    </div>
    <ion-item>
      <ion-label position="floating">Número de Laboratorio</ion-label>
      <ion-input type="text" [(ngModel)]="numLab"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Profesor</ion-label>
      <ion-input type="text" [(ngModel)]="profesor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Turno</ion-label>
      <ion-input type="text" [(ngModel)]="turno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Curso</ion-label>
      <ion-input type="text" [(ngModel)]="curso"></ion-input>
      <ion-button (click)="registrarLab()">REGISTRAR</ion-button>
    </ion-item>
  </ion-content>
</ion-app>
