/* Estilos para el video de fondo */
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: moveBackground 10s linear infinite alternate;
}

/* Contenedor principal para centrar los elementos */
.main-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 50px; /* Espacio lateral */
  z-index: 1;
}

/* Estilos para el rectángulo de la cámara */
.camera-rectangle {
  flex: 0 0 auto;
  width: 805px; /* Ajustado a un tamaño más manejable */
  height: 450px;
  border: 5px solid black;
  margin-left: 40px;
  margin-right: 50px; /* Espacio entre la cámara y los botones, ajustado a 50px */
}

/* Contenedor de botones */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinea los botones a la izquierda dentro del contenedor */
  gap: 20px; /* Espacio entre los botones */
  margin-top: -245px;
}

/* Estilos para los botones */
.button-registrar, .infer-button {
  width: 200px;
}

/* Estilos para la selección de laboratorio */
.button-labs {
  width: 200px;
}

/* Estilos para el contenido dentro del ion-content */
ion-content {
  --background: transparent; /* Hace que el fondo sea transparente */
}

/* Estilos personalizados para los botones */
.button-container ion-button.button-solid {
  --background: rgb(120, 4, 4) !important;
  --color: rgb(255, 255, 255) !important;
}

.button-container ion-button.button-solid:hover {
  --background: rgb(0, 0, 0) !important;
}

@keyframes moveBackground {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

/* Estilos para los botones */
.button-registrar,
.infer-button,
.button-labs {
  --background: rgb(120, 4, 4); /* Color de fondo inicial */
  --color: white; /* Color del texto inicial */
  width: 200px;
  margin-bottom: 10px; /* Espacio entre los botones */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.button-registrar:hover,
.infer-button:hover,
.button-labs:hover {
  --background: rgb(0, 0, 0); /* Color de fondo al pasar el mouse */
  --color: white; /* Color del texto al pasar el mouse */
}

.button-registrar:active,
.infer-button:active,
.button-labs:active {
  --background: rgb(0, 0, 0); /* Color de fondo al hacer clic */
  --color: white; /* Color del texto al hacer clic */
}