<ion-app>
    <ion-content [fullscreen]="true" class="container">
      <!-- Video de fondo -->
      <video autoplay muted loop id="video-background">
        <source src="../assets/Videos/video2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <!-- Contenido centralizado -->
      <div class="content">
        <!-- Encapsulación de los elementos en un div -->
        <div class="cards-container">
          <!-- Panel de control -->
          <div class="item">
            <ion-card (click)="goToPanelControl()">
              <img src="../assets/icon/prueba1.png" alt="Imagen 1">
              <ion-card-content>
                <ion-card-title>PANEL DE CONTROL</ion-card-title>
                <p>Acceder al panel de control</p>
              </ion-card-content>
            </ion-card>
          </div>

          <!-- Estadísticas -->
          <div class="item">
            <ion-card (click)="goToEstadisticas()">
              <img src="../assets/icon/prueba2.png" alt="Imagen 2">
              <ion-card-content>
                <ion-card-title>ESTADISTICAS</ion-card-title>
                <p>Ver estadísticas detalladas</p>
              </ion-card-content>
            </ion-card>
          </div>

          <!-- Lista de Clips -->
          <div class="item">
            <ion-card (click)="goToListaClips()">
              <img src="../assets/icon/prueba3.png" alt="Imagen 3">
              <ion-card-content>
                <ion-card-title>LISTA DE CLIPS</ion-card-title>
                <p>Explorar la lista de clips</p>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-content>
  <!-- </div> -->
</ion-app>
