<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- Contenido de la ventana deslizable -->
      <ion-list>
        <!-- Opciones del menú -->
        <ion-item (click)="goToPanelControl()">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>Panel Control</ion-label>
        </ion-item>
        <ion-item (click)="goToEstadisticas()">
          <ion-icon name="stats-chart"></ion-icon>
          <ion-label>Estadisticas</ion-label>
        </ion-item>
        <ion-item (click)="goToListaClips()">
          <ion-icon name="list"></ion-icon>
          <ion-label>Lista Clips</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header>
    <ion-toolbar>
      <!-- Botón del menú -->
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()">
          <ion-icon name="menu"></ion-icon>
          <span class="button-text">Menú</span>
        </ion-button>
      </ion-buttons>
      <!-- Título u otros elementos en el header -->
      <ion-title>SECURITYLAB</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" id="main-content">
    <!-- Contenido principal -->
    <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
      <source src="../assets/Videos/fondo2.mp4" type="video/mp4">
    </video>
    <div class="button-container">
      <!-- Otros botones u elementos de la página -->
      <ion-button expand="block" (click)="goToPanelControl()">
        <img src="../assets/icon/seleccion1.png" alt="Icono" class="button-icon">
        <span class="button-text">Panel Control</span>
      </ion-button>
      <ion-button expand="block" (click)="goToEstadisticas()">
        <img src="../assets/icon/seleccion2.png" alt="Icono" class="button-icon">
        <span class="button-text">Estadisticas</span>
      </ion-button>
      <ion-button expand="block" (click)="goToListaClips()">
        <img src="../assets/icon/seleccion3.png" alt="Icono" class="button-icon">
        <span class="button-text">Lista Clips</span>
      </ion-button>
    </div>
  </ion-content>
</ion-app>
