<ion-content [fullscreen]="true">
  <ion-content fullscreen="true">
    <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
      <source src="../assets/Videos/fondo2.mp4" type="video/mp4">
    </video>
  
 <ion-header>
    <ion-toolbar>
      <ion-title>Estadísticas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Tabla Usuarios -->
  <!-- Tabla Labs -->
  <ion-grid>
    <!-- Cabecera de Labs -->
    <ion-row>
      <ion-col>
        <ion-header>NumLab:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.NumLab }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Profesor:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Profesor }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Turno:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Turno }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Curso:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Curso }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Tabla Clips -->
  <ion-grid>
    <!-- Cabecera de Clips -->
    <ion-row>
      <ion-col>
        <ion-header>ID:</ion-header>
        <ion-list>
          <ion-item *ngFor="let clip of clips">
            <div>{{ clip.id }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>NumLab:</ion-header>
        <ion-list>
          <ion-item *ngFor="let clip of clips">
            <div>{{ clip.NumLab }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Hora:</ion-header>
        <ion-list>
          <ion-item *ngFor="let clip of clips">
            <div>{{ clip.Hora }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Clip:</ion-header>
        <ion-list>
          <ion-item *ngFor="let clip of clips">
            <!-- Para mostrar el contenido binario de Clip, se puede convertir a base64 u otro formato adecuado -->
            <div>{{ clip.Clip }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Botón Imprimir -->
  <ion-button expand="full">Imprimir</ion-button>
  
</ion-content>