/* Custom styles for video background */
ion-content {
  --background: transparent; // Asegura que el fondo de ion-content sea transparente

  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: 10vh; /* Ajusta la distancia desde la parte superior */
}

ion-grid{
  transform: translate(0px, 120px);
}

.data-label1 {
  width: 25%;
  text-align: center;
  transform: translate(-220px, -160px); /* Mueve el input 50px hacia la derecha */
  font-size: 5em; /* Ajusta el tamaño de la letra según tus necesidades */
  font-weight: bold; /* Hace que el texto sea negrita */
  padding: 20px; /* Opcional: Añade un poco de espacio interno para que el borde no esté pegado al texto */
  
}

.button-container ion-button {
  margin: 25px;
  width: 15%;
  transform: translate(-220px, -160px); /* Mueve el input 50px hacia la derecha */
}

.panel-label {
  position: absolute;
  top: 60px; /* Ajusta la posición vertical según tus necesidades */
  left: 165px; /* Ajusta la posición horizontal según tus necesidades */
  z-index: 21; /* Asegura que el label esté por encima del video */
  color: white; /* Color del texto */
  font-size: 8em; /* Tamaño del texto */
  font-weight: bold;
  transform: translate(650px, -125px);
}

.ion-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.data-input {
  width: 15%; /* Ocupa todo el ancho del label */
  margin: 15px;
  transform: translate(-220px, -160px); /* Mueve el input 50px hacia la derecha */
  text-align: center;
  background-color: white; /* Fondo blanco */
  padding: 3px; /* Añade un poco de espacio interno para separar el texto del borde */
  color: black; /* Color del texto negro */
  font-weight: bold;
}
.button-container ion-button.button-solid {
  --background: rgb(52, 48, 165) !important; /* Sobrescribe el color de fondo a rojo */
  --color: white !important; /* Sobrescribe el color del texto a blanco */
}

.button-container ion-button.button-solid:hover {
  --background: rgb(255, 0, 0) !important; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el menú */
ion-menu {
  --width: 250px;
  --background: #992222;
  color: #fff;
}

/* Estilos para el ion-menu y sus elementos */
ion-toolbar {
  --background: #771818; /* Cambiar el color de fondo del toolbar en el menú */
  --color: white; /* Cambia el color del texto en la barra de herramientas del menú */
}

ion-menu ion-content {
  --background: #992222;
}

ion-menu ion-list {
  --background: #992222;
  padding: 0; /* Eliminar el relleno para evitar bordes internos */
}

ion-menu ion-item {
  --background: #992222; /* Ajuste de color de fondo para cada elemento de la lista */
  --color: #fff; /* Color de texto en los elementos de la lista del menú */
  --padding-start: 20px; /* Ajuste del espacio interno */
  --padding-end: 20px; /* Ajuste del espacio interno */
  --inner-padding-top: 0; /* Eliminar relleno interno superior */
  --inner-padding-bottom: 0; /* Eliminar relleno interno inferior */
  border-bottom: 2px solid #992222; /* Línea inferior roja oscura */
}

ion-menu ion-item:last-child {
  border-bottom: none; /* Eliminar borde inferior del último elemento */
}

ion-menu ion-item:hover {
  --background: darken(#992222, 10%); /* Color de fondo al pasar el mouse */
}

ion-menu ion-item ion-label {
  color: #fff; /* Color del texto dentro de los elementos de la lista */
}

ion-menu ion-item ion-icon {
  color: #fff; /* Color del icono dentro de los elementos de la lista */
}

/* Ajustes para el botón de menú en la barra de herramientas */
ion-menu-toggle ion-button {
  color: #fff; /* Color del texto del botón de menú */
}

/* Estilos adicionales para el contenido principal */
ion-content#main-content {
  --background: #fff; /* Color de fondo del contenido principal */
}


/* Estilos para el video de fondo */
#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Contenedor principal */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chart-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 80%;
  margin: 20px auto 0; /* Cambiado el margen superior a 20px para separarlo */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-start; /* Alinea el contenido hacia arriba */
  opacity: 0; /* Inicialmente oculto */
  transform: translateY(20px); /* Desplazamiento inicial hacia abajo */
  animation: fadeInUp 0.5s ease forwards; /* Animación de entrada */
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Asegura que la animación se ejecute siempre */
.chart-container.loaded {
  opacity: 1 !important; /* Asegura que la opacidad se establezca en 1 */
  transform: translateY(0) !important; /* Asegura que no haya transformación */
}

/* Título del gráfico */
.chart-title {
  text-align: left; /* Alinea el texto a la izquierda */
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255); /* Corregido el color del texto */
}

#boton-imprimir {
  position: absolute; /* Para mover el botón libremente */
  top: 50%; /* Ajusta la posición vertical al 50% del contenedor padre */
  left: 50%; /* Ajusta la posición horizontal al 50% del contenedor padre */
  transform: translate(-50%, -50%); /* Centra el botón en las coordenadas especificadas */
  width: 300px; /* Ancho del botón */
  height: 60px; /* Altura del botón */
  --background: #000000; /* Color de fondo del botón */
  --color: #ffffff; /* Color del texto del botón */
  font-size: 18px; /* Tamaño de la fuente */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

#boton-imprimir:hover {
  --background: #0056b3; /* Color de fondo al pasar el mouse */
  transform: translate(-50%, -50%) scale(1.05); /* Agranda el botón al pasar el mouse */
}

#boton-imprimir:active {
  --background: #004080; /* Color de fondo al hacer clic */
  transform: translate(-50%, -50%) scale(0.95); /* Reduce el tamaño del botón al hacer clic */
}
