<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Clips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id="tabla-clips">
    <ion-row>
      <ion-col>
        <ion-header>NumLab:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.NumLab }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Profesor:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Profesor }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Turno:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Turno }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Curso:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Curso }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="generarPDF()">Generar PDF</ion-button>
</ion-content>
