<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
    <source src="../assets/Videos/fondo2.mp4" type="video/mp4">
  </video>
  <div class="button-container">
    <ion-label class="panel-label">LISTA DE CLIPS SOSPECHOSOS</ion-label>
  </div>
  <!-- <ion-item>
    <ion-label position="floating">Número de Laboratorio</ion-label>
    <ion-input type="text" [(ngModel)]="numLab"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Profesor</ion-label>
    <ion-input type="text" [(ngModel)]="profesor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Turno</ion-label>
    <ion-input type="text" [(ngModel)]="turno"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Curso</ion-label>
    <ion-input type="text" [(ngModel)]="curso"></ion-input>
    <ion-button (click)="registrarLab()">REGISTRAR</ion-button>
  </ion-item> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-header>NumLab:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.NumLab }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Profesor:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Profesor }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Turno:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Turno }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-header>Curso:</ion-header>
        <ion-list>
          <ion-item *ngFor="let lab of labs">
            <div>{{ lab.Curso }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
