<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
    <source src="../assets/Videos/fondo2.mp4" type="video/mp4">
  </video>
  <div class="button-container">
    <ion-label class="panel-label">LISTA DE CLIPS SOSPECHOSOS</ion-label>
    <ion-grid class="ion-item-divider" style="width: 1750px;">
      <ion-item class="header">
        <ion-label class="ion-label thead">Numero Laboratorio</ion-label>
        <ion-label class="ion-label thead">Fecha y Hora</ion-label>
        <ion-label class="ion-label thead">Profesor</ion-label>
        <ion-label class="ion-label thead">Curso</ion-label>
        <ion-label class="ion-label thead">Clip</ion-label>
      </ion-item>    

      <ion-item class="data">
        <ion-label>1</ion-label>
        <ion-label>24/05/24 5:00 pm</ion-label>
        <ion-label>JORGE LUIS CORDOVA LOPEZ</ion-label>
        <ion-label>Sistemas Inteligentes</ion-label>
        <ion-label class="clickable-label" (click)="goToVisuaClip()">Clip_1</ion-label>
      </ion-item>

      <ion-item class="data">
        <ion-label>2</ion-label>
        <ion-label>24/05/24 5:00 pm</ion-label>
        <ion-label>JORGE LUIS CORDOVA LOPEZ</ion-label>
        <ion-label>Sistemas Inteligentes</ion-label>
        <ion-label class="clickable-label" (click)="goToVisuaClip()">Clip_2</ion-label>
      </ion-item>

      <ion-item class="data">
        <ion-label>3</ion-label>
        <ion-label>24/05/24 5:00 pm</ion-label>
        <ion-label>JORGE LUIS CORDOVA LOPEZ</ion-label>
        <ion-label>Sistemas Inteligentes</ion-label>
        <ion-label class="clickable-label" (click)="goToVisuaClip()">Clip_3</ion-label>
      </ion-item>

      <ion-item class="data">
        <ion-label>4</ion-label>
        <ion-label>24/05/24 5:00 pm</ion-label>
        <ion-label>JORGE LUIS CORDOVA LOPEZ</ion-label>
        <ion-label>Sistemas Inteligentes</ion-label>
        <ion-label class="clickable-label" (click)="goToVisuaClip()">Clip_4</ion-label>
      </ion-item>

      <ion-item class="data">
        <ion-label>5</ion-label>
        <ion-label>24/05/24 5:00 pm</ion-label>
        <ion-label>JORGE LUIS CORDOVA LOPEZ</ion-label>
        <ion-label>Sistemas Inteligentes</ion-label>
        <ion-label class="clickable-label" (click)="goToVisuaClip()">Clip_5</ion-label>
      </ion-item>

      <ion-item class="data">
        <ion-label>6</ion-label>
        <ion-label>24/05/24 5:00 pm</ion-label>
        <ion-label>JORGE LUIS CORDOVA LOPEZ</ion-label>
        <ion-label>Sistemas Inteligentes</ion-label>
        <ion-label class="clickable-label" (click)="goToVisuaClip()">Clip_6</ion-label>
      </ion-item>

    </ion-grid>
  </div>
</ion-content>
