<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
    <source src="../assets/Videos/video1.mp4" type="video/mp4">
  </video>

  <div class="login-container">
    <form [formGroup]="formAdministrador">
      <ion-input class="data-input" formControlName="usuario" placeholder="Ingrese su usuario" style="top: 50vh;"></ion-input>
      <ion-input class="data-input" formControlName="clave" type="password" placeholder="Ingrese su clave" style="top: 56vh;"></ion-input>
      <ion-input class="data-input" formControlName="correo" placeholder="Ingrese su correo" style="top: 62vh;"></ion-input>
      <ion-button expand="block" (click)="registrarUsuario()" style="top: 70vh;">Registrar</ion-button>
    </form>
  </div>
</ion-content>
