#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.data-label {
  position: absolute;
  font-size: 10px;
  color: white;
  text-align: right;
  width: 100%;
  max-width: 200px;
}

.data-input {
  position: absolute;
  width: 100%;
  max-width: 300px;
  padding: 15px 10px; /* Aplica padding vertical 15px y horizontal 10px */
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 20px;
  left: 36%;
}

ion-button {
  position: absolute;
  width: 50%;
  max-width: 200px;
  --background: rgb(121, 0, 0);
  --color: white;
  left: 35%; /* Ajusta este valor para mover los botones más a la izquierda */
}

ion-button:hover {
  --background: rgb(0, 0, 0);
  --color: white;
}

ion-button:active {
  --background: #750000;
  --color: black;
}

@media (max-width: 768px) {
  .data-label {
    font-size: 10px;
  }

  .data-input {
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  ion-button {
    margin-top: 10px;
  }
}
