<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background" preload="auto" onended="this.play()">
    <source src="../assets/Videos/video1.mp4" type="video/mp4">
  </video>

  <div class="login-container">
    <ion-input class="data-input" placeholder="Ingrese su usuario" style="top: 50vh;"></ion-input>
    <ion-input class="data-input" type="password" placeholder="Ingrese su clave" style="top: 56vh;"></ion-input>
    
    <ion-button expand="block" (click)="goToSeleccion()" style="top: 65vh;">Ingresar</ion-button>
    <ion-button expand="block" (click)="goToLoginAdministrador()" style="top: 72vh;">Crear Cuenta</ion-button>
  </div>
</ion-content>
